logs/
__pycache__/
*.py[cod]

runtime/unitree_rl_lab_test/logs/loco/logs/
runtime/unitree_rl_lab_test/deploy/robots/go2_loco/build/*
!runtime/unitree_rl_lab_test/deploy/robots/go2_loco/build/go2_loco_ctrl

core
core.*
